.home{
    /* height: 100%; */
    /* width: 100%; */
    margin: 0px;
    padding: 0px;
    /* background-color: #6b8fc5; */
    font-family: system-ui, sans-serif;
}
.main_two{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 100%;
    align-items: center;
    background-color: rgb(217, 118, 118);
    box-shadow: 0 0 20px #dcdbdb70;
}
.main_two img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.two_theme{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 60%;
    overflow: hidden; 
    white-space: normal; 
}
.two_header{
    height: 60%;
    width: 80%;
}
.two_hi_user{
    color: #37537B;
    font-size: 38px;
    font-weight: bolder;
} 
.two_quote{
    font-size: 20px;
    margin: 0px;
}

.two_author{
    font-size: 20px;
    color: rgb(108, 107, 107);
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
}
.two_img{
    height: 100%;
    width: 40%;
    /* background-color: #6f9cd2; */
}
.two_img img{
    height: 100%;
    width: 100%;
    /* border-radius: 20px; */
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.main_four{
    display: flex;
    flex-flow: column;
    height: 250px;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(66, 158, 250); */
    padding-top: 12px;
}
.four_theme{
    width: 100%;
    height: 11%;
    /* font-size: 20px;  */
    font-weight: bold;
    /* background-color: #1b5279; */
}
.four_container{
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 89%;
    justify-content: space-between;
}
.today_pp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 21%;
    background-color: rgba(255, 255, 255, 0.877);
    /* background-color: rgba(60, 159, 181, 0.877); */
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(206, 205, 205, 0.463);
}
.today_pp_imgage{
    width: 100%;
    height: 60%;
    display: flex;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(171, 170, 170); */
    /* background-color: rgba(171, 170, 170, 0.485); */
    background-color: rgba(209, 229, 245, 0.485);
    /* box-shadow: 1px 1px 2px #646161a3; */

}
.today_pp_imgage img{
    height: 100%;
    width: 70%;

}
.today_pp_text{
    flex-flow: column;
    height: 40%;
    width: 85%;
    /* background-color: rgb(45, 213, 90); */
}
.today_pp_test_1{
    display: flex;
    align-items: flex-start;
    height: 65%;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #1b5279;
    overflow: hidden;
    text-overflow: ellipsis;
}
.today_pp_time{
    display: flex;
    justify-content: flex-end;
    height: 30%;
    width: 100%;
    font-size: 12px;
    color: rgb(90, 88, 88);
    overflow: hidden;
}



.main_three{
    display: flex;
    height: 38%;
    width: 100%;
    /* margin: 10px; */
    /* justify-content: center; */
    /* align-items: center; */
    margin-top: 30px;
}
.three_one{
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 60%;
    /* background-color: #3bff34; */
}
.three_theme{
    display: flex;
    align-items: center;
    height: 10%;
    width: 100%;
    font-weight: bold;
}
.theme_first{
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
}
.theme_second{
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
}

.three_container{
    margin-top: 10px;
    display: flex;
    flex-flow: column;
    height: 90%;
    width: 100%;
    justify-content: space-between;
    /* background-color: #1b5279; */
}
.three_item{
    display: flex;
    height: 100px;
    padding: 5px;
    margin-bottom: 15px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 5px #d1d1d1;
}
.three_img{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 20%;
    border-radius: 20px;
    background-color: #6F9CD2;
}
.three_img img{
    height: 100%;
    width: 100%;
    /* border-radius: 50%; */
}

.three_text{
    display: flex;
    flex-flow: column;
    /* align-items: center; */
    height: 100%;
    width: 75%;
    padding-left: 10px;
}

.test_1{
    padding-top: 5px;
    display: flex;
    align-items: flex-start;
    height: 60%;
    width: 100%;
    font-size: 16px;
    text-decoration: none;
    color: #1b5279;
    font-weight: 600;
    overflow: hidden; /* Ẩn nội dung bên ngoài khung */

    /* Cho phép các phần tử con tự động xuống dòng khi cần */
    white-space: normal; 
}
.three_time{
    display: flex;
    /* align-items: center; */
    height: 40%;
    width: 100%;
    font-size: 13px;
    color: rgb(114, 112, 112);
    overflow: hidden; /* Ẩn nội dung bên ngoài khung */

    /* Cho phép các phần tử con tự động xuống dòng khi cần */
    white-space: normal; 
}
#time_one{
    width: 70%;
}
#time_two{
    width: 30%;
}
.three_flag{
    height: 100%;
    width: 5%;
}

.three_two{
    height: 100%;
    width: 35%;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
}
.three_two h3{
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #2a2a2a;
}
.list_item{
    padding: 0px 10px;
    font-size: border;
}
.three_two ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    /* background-color: #6F9CD2; */
}
.three_two li{
    margin: 10px;
    padding: 10px;
    list-style: none;
    /* background-color: #1b5279; */
}

@media (min-width: 600px) and (max-width: 930px){
    .two_hi_user{
        font-size: 30px;
    }
    .two_quote{
        font-size: 15px;
    }
    .two_author{
        font-size: 19px;
        padding-right: 0px;
    }
    .today_pp_test_1{
        font-size: 12px;
    }
    .today_pp_time{
        font-size: 9px;
    }
    .three_img{
        display: flex;
        justify-content: center;
        height: 100%;
        width: 20%;
        border-radius: 50%;
        background-color: #ffffff;
    }
}
@media (max-width: 600px){
    .two_hi_user{
        font-size: 20px;
    }
    .two_quote{
        font-size: 15px;
    }
    .two_author{
        font-size: 18px;
        padding-right: 0px;
    }
    .four_theme{
        font-size: 13px;
    }
    .today_pp_test_1{
        font-size: 10px;
    }
    .today_pp_time{
        font-size: 7px;
    }
    .theme_first, .theme_second{
        font-size: 13px;
    }
    .test_1 {
        font-size: 11px;
    }
    .three_time{
        font-size: 10px;
    }
    .three_img{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 20%;
        border-radius: 50%;
        background-color: #ffffff;
    }
    .three_img img{
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }
}
@media (max-width: 450px){
    .four_container{
        overflow-x: auto;
    }
    .today_pp{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 21%;
        background-color: rgba(255, 255, 255, 0.877);
        border-radius: 20px;
        box-shadow: 0 0 20px rgba(206, 205, 205, 0.463);
    }
}

