.exchange{
    height: 100%;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    /* background-color: #2a4160; */
}
.main_two_ex{
    display: flex;
    flex-flow: column;
    height: 35.93%;
    width: 100%;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}
.two_theme_ex{
    display: flex;
    align-items: center;
    height: 30%;
    width: 100%;
    font-size: 40px;;
}
.two_theme_ex span{
    padding-left: 100px;
    color: #2a4160;
}
.two_form_search_ex{
    height: 70%;
    width: 100%;
}

.main_three_ex{
    display: flex;
    flex-flow: column;
    height: 64%;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* padding-top: 18px; */
}
.three_theme_ex{
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 10%;
    font-weight: bold;
}
.three_container_ex{
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 90%;
    justify-content: space-between;
    margin-top: 8px;

}
.three_container_first_ex{
    height: 100%;
    width: 65%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}
.three_flag_ex{
    height: 100%;
    width: 5%;
}
.three_container_second_ex{
    
    height: 100%;
    width: 30%;
}
.three_result_ex{
    height: 30%;
    width: 100%;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}
.three_img_ex{
    margin-top: 20px;
    height: 65%;
    width: 100%;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}
