.setting{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #E8EAED;
    font-family: 'Josefin Sans', sans-serif;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
}
